* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-color: #0F2424; 
}
.titulo_principal{
    position: absolute;
    top: 106px;
    left: 700px;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 128px;
    line-height: 23px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.logo{
    position: absolute;
    left: 440px;
    top: -10px;
    width: 270px;
    height: auto;
}
.subtitulo_crea_tu_cuenta
{
    position: absolute;
    left: 870px;
    top: 230px;
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
}

.texto_email
{
  position: absolute;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  left: 730px;
  top: 300px;
  font-weight: 100;
}

.texto_contraseña
{
  position: absolute;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  left: 730px;
  top: 435px;
  font-weight: 100;
}

.subtitulo_iniciar_sesion
{
  position: absolute;
  left: 890px;
  top: 230px;
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
}

.instrucion
{
  position: absolute;
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #8CCCCF;
  left: 730px;
  top: 545px;
}

.tyc{
  font-family: Inter;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

input[type="text"] {
    position: absolute;
    width: 500px;
    height: 56px;
    border-radius: 12px;
    padding: 16px;
    background: #214A4A;
    border: none;
    outline: none;
    left: 730px;
    top: 300px;
    min-height: 60px;
}

input[type="email"]
{
    position: absolute;
    width: 500px;
    height: 56px;
    border-radius: 12px;
    padding: 16px;
    background: #214A4A;
    border: none;
    outline: none;
    left: 730px;
    top: 385px;
    min-height: 60px;
}
input[type="email_1"]
{
    position: absolute;
    width: 500px;
    height: 56px;
    border-radius: 12px;
    padding: 16px;
    background: #214A4A;
    border: none;
    outline: none;
    left: 730px;
    top: 335px;
    min-height: 60px;
}

input[type="password"]
{
    position: absolute;
    width: 500px;
    height: 56px;
    border-radius: 12px;
    padding: 16px;
    background: #214A4A;
    border: none;
    outline: none;
    left: 730px;
    top: 470px;
    min-height: 60px;
}
input::placeholder {
  color: #8CCCCF;
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0px;
}
.checkbox-container{
  position: absolute;
  display: flex;
  margin: 10px 0;
  gap: 10px;
  left: 730px;
  top: 575px;
}
.checkbox-container_2{
  position: absolute;
  display: flex;
  margin: 10px 0;
  gap: 10px;
  left: 730px;
  top: 554px;
}
.checkbox-container input[type="checkbox"] {
  display: none;
}
.checkbox-container_2 input[type="checkbox"] {
  display: none;
}
/* Estilo visual del checkbox */
.checkbox-container label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #214A4A;
  border-radius: 4px;
  vertical-align: middle;
  transition: background-color 0.2s ease;
  appearance: none; 
  border: 2.8px solid #2E696B; 
  border-radius: 4px;       
  background-color: transparent;
}
.checkbox-container_2 label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #214A4A;
  border-radius: 4px;
  vertical-align: middle;
  transition: background-color 0.2s ease;
  appearance: none; 
  border: 2.8px solid #2E696B; 
  border-radius: 4px;       
  background-color: transparent;
}
.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: #00f7ff;
}
.checkbox-container_2 input[type="checkbox"]:checked + label::before {
  background-color: #00f7ff;
}

.ya_tienes_cuenta
{
  position: absolute;
  font-family: Inter;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  left: 907px;
  top: 700px;
}
.boton_registrar {
  position: absolute;
  background-color: #00f7ff;
  border: none;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  height: 20px;
  left: 730px;
  top: 625px;
  min-height: 45px;
  min-width: 500px;
}
.boton_iniciar_sesion_2
{
  position: absolute;
  background-color: #00f7ff;
  border: none;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  height: 20px;
  left: 730px;
  top: 605px;
  min-height: 45px;
  min-width: 500px;
}
.boton_iniciar_sesion {
  position: absolute;
  background-color: #1e3a3a;
  border: none;
  border-radius: 12px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  left: 730px;
  top: 740px;
  min-height: 45px;
  min-width: 500px;
}